#root {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.App {
  height: 100%;
}

.background-gradient {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;

  background-color: rgba(0, 0, 0, 0.4);
}

/* .title-container {
  width: 75%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;

  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.6);
} */